<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
<!--    <link rel="stylesheet" th:href="@{/page-zeroing.css}">-->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#e0ffff">
            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px"
                             src="https://images.squarespace-cdn.com/content/v1/58619493893fc0e1cd139ed8/1495812199870-QG2B1MNW23QBJF1A0IP7/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwkCFOLgzJj4yIx-vIIEbyWWRd0QUGL6lY_wBICnBy59Ye9GKQq6_hlXZJyaybXpCc/collectionsicon">
                    </td>
                    <td><h1 align="center">Приложение</h1></td>
                    <!--                    <td width="100px"><a th:text="${logined}? 'Выйти' : 'Войти'" th:href="@{/sign-in}"></a></td>-->
                    <td width="100px">
                        <a th:if="${logined}" th:href="@{/sign-in}">Войти</a>
                        <a th:unless="${logined}" th:href="@{/logout}">Выйти</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">
            <table id="menu">
                <tr>
                    <td><a th:href="@{/index}">Collection</a></td>
                    <td><a th:href="@{/#}">Admin</a></td> <!-- Пункт будет спрятан (виден только для админов)-->
                    <td><a th:href="@{/profile/{id} (id=${userActiveId})}">Profile</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="200px">
        <td>
            <!-- CONTENT -->
            <h2>Топ коллекций:</h2>
            <table width="100%" id="collections-table"> <!-- В таблице будут все коллекции -->
                <tr class="colored-tr" th:each="collection : ${all_collections}"> <!-- Один TR = одна коллекция -->
                    <td th:text="${collection.id}">id</td>
                    <td width="100px"><img width="100px" th:src="${collection.imageUrl}"></td>
                    <td th:text="${collection.name}"></td>
                    <td th:text="${collection.title}"></td>
                    <td th:text="${collection.description}"></td>
                    <td width="10%" th:text="${collection.userName}"></td>
                    <td>tags</td>
                    <td width="50px"><a href="#">Open</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">4</td>
    </tr>
</table>

</body>

</html>