<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
<!--    <link rel="stylesheet" th:href="@{/page-zeroing.css}">-->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<!-- https://codeshare.io/29JqD8 -->
<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#e0ffff">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px"
                             src="https://images.squarespace-cdn.com/content/v1/58619493893fc0e1cd139ed8/1495812199870-QG2B1MNW23QBJF1A0IP7/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwkCFOLgzJj4yIx-vIIEbyWWRd0QUGL6lY_wBICnBy59Ye9GKQq6_hlXZJyaybXpCc/collectionsicon">
                    </td>
                    <td><h1 align="center">Приложение</h1></td>
                    <td width="100px"><a th:href="@{/sign-in}">Войти</a></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">
            <table id="menu">
                <tr>
                    <td><a th:href="@{/index}">Collection</a></td>
                    <td><a th:href="@{/#}">Admin</a></td> <!-- Пункт будет спрятан (виден только для админов)-->
                    <td><a th:href="@{/profile/{id} (id=${user.id})}">Profile</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="200px">
        <td>
            <!-- CONTENT -->
            <h2>Профиль:</h2>
            <table id="profile-info-table" width="600px">
                <tr>
                    <td height="300px" width="100px"><img id="profile-img" height="300px" width="300px"
                                                          src="https://akns-images.eonline.com/eol_images/Entire_Site/2019414/rs_600x600-190514063109-600-George-Clooney-Batman-LT-051419-GettyImages-607408286.jpg?fit=around|600:600&output-quality=90&crop=600:600;center,top">
                    </td>
                    <td rowspan="2" valign="top">
                        <table width="100%">
                            <tr>
                                <td th:text="${user.name}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.lastName}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.email}"></td>
                            </tr>
                            <tr>
                                <td th:text="${user.role}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                </tr>
            </table>

            <hr>

            <h2>Мои коллекций:</h2>
            <table width="100%" id="collections-table"> <!-- В таблице будут все коллекции -->
                <tr class="colored-tr" th:each="collection : ${all_collections}"> <!-- Один TR = одна коллекция -->
                    <td th:text="${collection.id}"></td>
                    <td width="100px"><img width="100px" th:src="${collection.imageUrl}"></td>
                    <td th:text="${collection.name}"></td>
                    <td th:text="${collection.title}"></td>
                    <td th:text="${collection.description}"></td>
                    <td width="10%" th:text="${collection.userName}"></td>
                    <td>tags</td>
                    <td width="50px"><a href="#">Open</a></td>
                </tr>
            </table>

            <hr>

            <h2>Создание коллекции: </h2>
            <form th:action="@{/collection/create}" th:object="${collectionCreateDto}" method="post" class="form-create-collection" >
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}" placeholder="name">
                <br>
                <label for="title">Title:</label>
                <input type="text" id="title" th:field="*{title}" placeholder="title">
                <br>
                <label for="description">Description:</label>
                <input type="text" id="description" th:field="*{description}" placeholder="description">
                <br>
                <label for="image">Image:</label>
                <input type="text" id="image" th:field="*{imageUrl}" placeholder="image url">
                <br>
                <input type="hidden" id="userId" th:value="${user.id}" name="userId">
                <br>
                <input type="submit" value="Создать!">
            </form>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">4</td>
    </tr>
</table>

</body>

</html>