<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collection Manager</title>
<!--    <link rel="stylesheet" th:href="@{/page-zeroing.css}">-->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<!-- https://codeshare.io/29JqD8 -->
<table width="100%"> <!-- min-width + max-width -->
    <tr height="150px">
        <td bgcolor="#e0ffff">

            <table width="100%">
                <tr>
                    <td height="100px" width="100px">
                        <img width="100px" src="https://images.squarespace-cdn.com/content/v1/58619493893fc0e1cd139ed8/1495812199870-QG2B1MNW23QBJF1A0IP7/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwkCFOLgzJj4yIx-vIIEbyWWRd0QUGL6lY_wBICnBy59Ye9GKQq6_hlXZJyaybXpCc/collectionsicon">
                    </td>
                    <td><h1 align="center">Приложение</h1></td>
                </tr>
            </table>

        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">
            <table id="menu">
                <tr>
                    <td><a th:href="@{/index}">Collection</a></td>
                    <td><a th:href="@{/#}">Admin</a></td> <!-- Пункт будет спрятан (виден только для админов)-->
                    <td><a th:href="@{/profile/{id} (id=${userActiveId})}">Profile</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr height="200px">
        <td>
            <h2>Представтесь: </h2>
            <form th:action="@{/user/login}" th:object="${loginDto}" method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{email}" placeholder="email">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Password">
                <br>
                <input type="submit" value="Войти!">
            </form>

            <hr>

            <h2>Регистрация:</h2>
            <form method="post" th:action="@{/user/create}" th:object="${createDto}">
                <label for="name">Name:</label>
                <input type="text" id="name" th:field="*{name}" placeholder="name">
                <br>
                <label for="last-name">Last name:</label>
                <input type="text" id="last-name" th:field="*{lastName}" placeholder="Last name">
                <br>
                <label for="email-registration">Email:</label>
                <input type="email" id="email-registration" th:field="*{email}" placeholder="email">
                <br>
                <label for="password-registration">Password:</label>
                <input type="password" id="password-registration" th:field="*{password}" placeholder="Password">
                <br>
<!--                <label for="repeat-password-registration">Repeat Password:</label>-->
<!--                <input type="password" id="repeat-password-registration" th:field="password" placeholder="Repeat Password">-->
<!--                <br>-->
                <input type="submit" value="Создать!">
            </form>
        </td>
    </tr>
    <tr height="75px">
        <td bgcolor="#ffefd5">4</td>
    </tr>
</table>

</body>

</html>