body {
    color: rebeccapurple;
    font-family: Arial, serif;
    font-size: 22px;
}

h2 {
    color: red;
    font-size: 24px;
}

h1 {
    color: blue;
    transition: color 0.5s;
}

h1:hover {
    color: red;
}

#collections-table img:hover {
    width: 200px;
    transition: width 2s;
    position: relative;
}

.colored-tr {
    background-color: cornsilk;

}

#collections-table tr:hover {
    background-color: darkturquoise;
    transition: background-color 0.5s;
}

#menu td {
    padding-right: 15px;
}

#menu {
    margin-left: 15px;
}

table {
    border-spacing: 0;
}

a {
    color: darkgray;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: dimgray;
    transition: color 0.5s;
}

#profile-img {
    border-radius: 50%;
}

#profile-info-table {
    text-align: left;
}

form label{
    display: inline-block;
    width: 150px;
}

form input{
    border-color: darksalmon;
    border-style: solid;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(248, 55, 55);
}

.form-create-collection {

}